*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

a {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.wrap {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    &_benefits {
        max-width: 1208px;
    }
}

.title {
    &_big {
        font-size: 80px;
    }
    &_medium {
        font-size: 62px;
        line-height: 90px;
    }
    &_small {
        font-size: 52px;
        text-transform: capitalize;
    }
    &_tiny {
        font-size: 41px;
    }
}

.hero {
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333087;
    padding: 95px 0 32px 0;
    &__picture {
        width: 100%;
    }
    &__row {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__logo {
        flex: 0 0 auto;
        margin: 0 auto;
        max-width: 345px;
        width: 100%;
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        flex: 1 1 auto;
    }
    &__pictures {
        margin-top: -63px;
        display: flex;
        justify-content: center;
        height: 591px;
    }
    &__pic-left {
        width: 100%;
        max-width: 750px;
        align-self: flex-end;
        z-index: 1;
    }
    &__pic-right {
        width: 100%;
        max-width: 888px;
        align-self: flex-start;
        margin-left: -207px;
    }
}

.benefits {
    background-color: #333087;
    padding: 80px 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &__text {
        font-size: 37px;
        line-height: 27px;
    }
    &__img {
        width: 112px;
        height: 111px;
        display: inline-block;
    }
    &__item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    &__title {
        margin-bottom: 24px;
    }
    &__item-list {
        display: flex;
        gap: 15px;
        flex-direction: column;
        margin-bottom: 55px;
        flex: 1 1 auto;
    }
    &__line {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        & span {
            line-height: 112px;
            vertical-align: bottom;
        }
    }
}

.desc {
    padding: 95px 0 78px 0;
    color: #1d1d1b;
    font-size: 37px;
    &__photo {
        height: 708px;
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    &__photo-text {
        position: absolute;
        &_1 {
            right: 0;
            top: 30%;
            width: 279px;
        }
        &_2 {
            right: 10%;
            bottom: 15%;
        }
    }
    &__mob-photo {
        display: none;
    }
    &__list {
        display: flex;
        flex-direction: column;
        padding-top: 95px;
    }
    &__item {
        display: flex;
        gap: 51px;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        &_reverse {
            flex-direction: row-reverse;
        }
    }
    &__pic-block {
        max-width: 501px;
        width: 100%;
    }
    &__item-inner {
        max-width: 852px;
        width: 100%;
    }
    &__item-title {
        color: #e27601;
    }
    &__item-text {
        color: #000000;
    }
}

.compare {
    position: relative;
    background-image: url(../img/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-color: #333087;
    padding: 63px 0 320px;
    &__title {
        font-size: 77px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 38px;
    }
    &__table {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 75px;
        flex-wrap: nowrap;
        gap: 15px;
    }
    &__img {
        margin: 0 auto;
        margin-bottom: 29px;
        height: 317px;
        width: 100%;
        &_s {
            max-width: 566px;
        }
        &_m {
            max-width: 607px;
        }
    }
    &__column {
        max-width: 710px;
        width: 100%;
        position: relative;
    }
    &__item-name {
        margin-bottom: 26px;
    }
    &__value-name {
        color: #ee7601;
        margin-bottom: 10px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &_small {
            position: absolute;
            bottom: 0;
        }
    }
    &__item {
        text-align: left;
    }
    &__value {
        padding: 25px 0;
        background-color: #ee7601;
        border-radius: 10px;
        font-size: 37px;
        text-align: center;
    }
    &__footer {
        text-align: center;
        
    }
    &__footer-title {
        text-transform: uppercase;
    }
    &__footer-name {
        font-size: 73px;
        text-transform: uppercase;
    }
}
@media screen and (max-width:1350px) {
    .hero {
        padding-bottom: 0;
        &__pictures {
            margin-top: 30px;
            height: auto;
        }
        &__pic-right {
            margin-left: 0;
        }
        &__pic-left {
            display: none;
        }
    }
    .desc {
        font-size: 27px;
        &__list {
            gap: 20px;
        }
        &__item {
            font-size: 27px;
        }
        & .title_medium {
            font-size: 50px;
            line-height: 55px;
        }
    }
}

@media screen and (max-width:1150px) {
    .benefits {
        &__title {
            font-size: 40px;
        }
        &__text {
            font-size: 30px;
        }
    }
    
    .compare {
        &__title {
            font-size: 70px;
        }
        &__value {
            font-size: 30px;
        }
    }
}

@media screen and (max-width:800px) {
    .title {
            &_big {
                font-size: 46px;
                line-height: 50px;
            }
    
            &_medium {
                font-size: 25px;
                line-height: 50px;
            }
    
            &_small {
                font-size: 25px;
                line-height: 20px;
                text-transform: capitalize;
            }
    
            &_tiny {
                font-size: 41px;
            }
        }

    .hero {
        padding-top: 30px;
        &__pictures {
            margin-top: 30px;
            height: auto;
        }
        &__pic-left {
            display: none;
        }
        &__pic-right {
            margin-left: 0;
            max-width: 470px;
        }
        &__row {
            flex-wrap: wrap;
        }
    }

    .benefits {
    padding: 40px 0 0 0;
    &__list {
        text-align: center;
    }
    &__text {
        font-size: 20px;
    }
    &__item {
        flex-direction: column;
        justify-content: center;
        &_pic {
            flex-direction: column;
        }
    }
    &__item-list {
        margin-bottom: 40px;
    }
    &__line {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        & span {
            line-height: 0;
            margin-bottom: 40px;
        }
    }
    }

    .desc {
        padding: 30px 0;
        font-size: 19px;
        text-align: center;
        &__photo {
            display: none;
        }
        &__mob-photo {
            display: block;
        }
        &__list {
            padding-top: 35px;
            gap: 15px;
        }
        &__item {
            gap: 20px;
            flex-direction: column;
        }
        &__item-title {
            line-height: 25px;
        }
    }

    .compare {
        background-size: cover;
        padding: 35px 0 200px;
        &__title {
            display: none;
        }
        &__table {
            display: none;
        }
        &__footer-title {
            text-transform: uppercase;
            font-size: 25px;
            line-height: 33px;
        }
        &__footer-name {
            font-size: 37px;
            line-height: 33px;
        }
    }
}

@media screen and (max-width:250px) {
    .title_big {
        font-size: 36px;
        line-height: 40px;
    }
}

