*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

a {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.wrap {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.wrap_benefits {
  max-width: 1168px;
}

.title_big {
  font-size: 80px;
}
.title_medium {
  font-size: 62px;
  line-height: 90px;
}
.title_small {
  font-size: 52px;
  text-transform: capitalize;
}
.title_tiny {
  font-size: 41px;
}

.hero {
  background-image: url(../img/star.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333087;
  padding: 95px 0 32px 0;
}
.hero__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hero__logo {
  flex: 0 0 auto;
  margin: 0 auto;
  max-width: 345px;
  width: 100%;
}
.hero__title {
  text-align: center;
  text-transform: uppercase;
  flex: 1 1 auto;
}
.hero__pictures {
  margin-top: -63px;
  display: flex;
  justify-content: center;
  height: 591px;
}
.hero__pic-left {
  width: 100%;
  max-width: 750px;
  align-self: flex-end;
  z-index: 1;
}
.hero__pic-right {
  width: 100%;
  max-width: 888px;
  align-self: flex-start;
  margin-left: -207px;
}

.benefits {
  background-color: #333087;
  padding: 80px 0;
}
.benefits__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.benefits__text {
  font-size: 37px;
  line-height: 27px;
}
.benefits__img {
  width: 112px;
  height: 111px;
  display: inline-block;
}
.benefits__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.benefits__title {
  margin-bottom: 24px;
}
.benefits__item-list {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-bottom: 55px;
  flex: 1 1 auto;
}
.benefits__line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.benefits__line span {
  line-height: 112px;
  vertical-align: bottom;
}

.desc {
  padding: 95px 0 78px 0;
  color: #1d1d1b;
  font-size: 37px;
}
.desc__photo {
  height: 708px;
  position: relative;
}
.desc__photo-text {
  position: absolute;
}
.desc__photo-text_1 {
  top: 220px;
  right: 47px;
  width: 279px;
}
.desc__photo-text_2 {
  right: 115px;
  bottom: 98px;
}
.desc__mob-photo {
  display: none;
}
.desc__list {
  display: flex;
  flex-direction: column;
  padding-top: 95px;
}
.desc__item {
  display: flex;
  gap: 51px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.desc__item_reverse {
  flex-direction: row-reverse;
}
.desc__pic {
  max-width: 501px;
  width: 100%;
}
.desc__item-inner {
  max-width: 852px;
  width: 100%;
}
.desc__item-title {
  color: #e27601;
}
.desc__item-text {
  color: #000000;
}

.compare {
  position: relative;
  background-image: url(../img/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-color: #333087;
  padding: 63px 0 320px;
}
.compare__title {
  font-size: 77px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;
}
.compare__table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 75px;
  flex-wrap: wrap;
}
.compare__img {
  margin: 0 auto;
  margin-bottom: 29px;
  width: 100%;
}
.compare__img_s {
  max-width: 566px;
}
.compare__img_m {
  max-width: 607px;
}
.compare__column {
  max-width: 710px;
  width: 100%;
}
.compare__item-name {
  margin-bottom: 26px;
}
.compare__value-name {
  color: #ee7601;
  margin-bottom: 10px;
}
.compare__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.compare__item {
  text-align: left;
}
.compare__value {
  padding: 25px 0;
  background-color: #ee7601;
  border-radius: 10px;
  font-size: 37px;
  text-align: center;
}
.compare__footer {
  text-align: center;
}
.compare__footer-title {
  text-transform: uppercase;
}
.compare__footer-name {
  font-size: 73px;
  text-transform: uppercase;
}

@media screen and (max-width: 323px) {
  .wrap {
    padding: 0 20px;
  }
  .title_big {
    font-size: 46px;
    line-height: 50px;
  }
  .title_medium {
    font-size: 25px;
    line-height: 50px;
  }
  .title_small {
    font-size: 25px;
    line-height: 20px;
    text-transform: capitalize;
  }
  .title_tiny {
    font-size: 41px;
  }
  .hero {
    padding-top: 30px;
  }
  .hero__pictures {
    margin-top: 30px;
    height: auto;
  }
  .hero__pic-left {
    display: none;
  }
  .hero__pic-right {
    margin-left: 0;
  }
  .benefits {
    padding: 40px 0 0 0;
  }
  .benefits__list {
    text-align: center;
  }
  .benefits__text {
    font-size: 20px;
  }
  .benefits__item {
    justify-content: center;
  }
  .benefits__item-list {
    margin-bottom: 40px;
  }
  .benefits__line {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .benefits__line span {
    line-height: 0;
    margin-bottom: 40px;
  }
  .desc {
    padding: 30px 0;
    font-size: 19px;
    text-align: center;
  }
  .desc__photo {
    display: none;
  }
  .desc__mob-photo {
    display: block;
  }
  .desc__list {
    padding-top: 35px;
    gap: 15px;
  }
  .desc__item {
    gap: 20px;
  }
  .desc__item-title {
    line-height: 25px;
  }
  .compare {
    background-size: cover;
    padding: 35px 0 100px;
  }
  .compare__title {
    display: none;
  }
  .compare__table {
    display: none;
  }
  .compare__footer-title {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 33px;
  }
  .compare__footer-name {
    font-size: 37px;
    line-height: 33px;
  }
}/*# sourceMappingURL=styles.css.map */